li {
  list-style: none;
  float: left;
  align-self: center;
}
body {
  background-color: hsl(210, 46%, 95%);
}
h2 {
  color: hsl(217, 19%, 35%);
}
.container {
  font-family: 'Manrope',sans-serif;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  box-shadow: 10px 10px 10px hsl(212, 23%, 69%);
}
.main p{
  font-size:13px
}
#img-left {
  width: 300px;
  height: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right {
  height: 300px;
  width: 600px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 30%;
}
.right-container {
  width: 80%;
  margin: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
.profile {
  display: flex;
}
.profile-name {
  margin-left: 3%;
}
#name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  width: 100%;
  white-space: nowrap;
}
.icon {
  padding-left: 10px;
}
.share {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.icons {
  position: relative;
  top: 6.5em;
  left: 19em;
  display: none;
}

ul {
  background-color: hsl(217, 19%, 35%);
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  z-index: 3;
  position: absolute;
}
svg {
  z-index: 1;
  border-radius: 50%;
  padding: 10px;
}
svg:hover {
  opacity: 0.8;
}
.triangle-down {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 35px solid hsl(217, 19%, 35%);
  top: 2.2em;
  left: 3em;
  z-index: 2;
  position: absolute;
}
.activated {
  background-color: red;
  border-radius: 50%;
}
